.small {
    font-size: small;
}

.red {
    color: red;
}

body {
    margin: 0;
    padding: 0;
    color: #24292E;
}

body>* {
    margin: 0;
    padding: 22px 32px;
}

h1 {
    padding-left: 43px;
    background-color: #FAFBFC;
    border-bottom: 1px solid #dedfe2;
}

h2 {
    margin: 0;
    padding: 4px 0 8px 0;
}

.outbox {
    padding-top: 38px;
    background-color: white;
}

.lspan {
    padding: 10px;
    background-color: #fafafa;
    border-radius: 5px;
    /* border: 1px solid #E1E4E8; */
    margin-top: 16px;
    box-shadow: 0 0 2px 0px #666666;
}

input {
    padding: 0.2em 0.3em;
    border-width: 0 0 1px 0;
    background-color: #ffffff00;
}

button {
    border-radius: 4px;
    border: 1px solid #D9DBDB;
    /* font-weight: bolder; */
    color: #4e4e4e;
    background-color: #F4F5F7;
    padding: 0.2em 0.4em 0.25em 0.4em;
}